html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  .afacad-flux-bold {
    font-family: "Afacad Flux", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold weight */
    font-style: normal;
    font-variation-settings: 
      "slnt" 0;
  }

  .body {
    background-color: #E6E6FA;
    max-width: 1000px;
    margin: auto;
    font-family: 'Afacad-Flux', sans-serif;
  }
  
  .button-container {
text-align: center;
  }

  .button {
    font-family: "Afacad Flux", serif;
    margin: 10px;
  }
  
  .picture-container {
text-align: center;
  }

  .picture {
    max-width: 360px;
    margin: 25px;
    border-radius: 30px;
    box-shadow: -11px 12px 24px -17px rgb(252, 187, 108);
    outline: 4px solid rgb(4, 61, 126);
  }
  
  .footer {
    font-family: 'Afacad-Flux', sans-serif;
    font-size: 10px;
    text-decoration: underline;
    margin: 10px;
  }